[Desktop Entry]
Name=Seq32
GenericName=
Comment=MIDI Sequencer
Icon=seq32_48.png
Type=Application
Categories=AudioVideo;Audio;X-Jack;Midi;X-MIDI;
Exec=seq32
Terminal=false
